
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Base Reset*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto";
};

body{
    background: linear-gradient(150deg,#333,#dfdddd);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    display: flex;
};