
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Base Reset*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto";
}

body{
    background: linear-gradient(150deg,#333,#dfdddd);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    display: flex;
}
.container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #0f0f0f;
    position:relative;
    padding-bottom: 0.5rem;
  }
  

