
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Base Reset*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto";
}

body{
    background: linear-gradient(150deg,#333,#dfdddd);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    display: flex;
}
.container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #0f0f0f;
    position:relative;
    padding-bottom: 0.5rem;
  }
  
  
h1::after {
    content: "";
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #667eea;
    border-radius: 2px;
  }

  #generate-btn {
    background: linear-gradient(45deg, #667eea, #764ba2);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  
  #generate-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
  }
  
  #generate-btn:active {
    transform: translateY(0);
  }
  
  

